@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body{
    background-color: red;
}
.wrapper{
    background-color: #fffefe;
    padding: 20px 40px;
    /* width: 50%; */
    margin: 0 auto;
}

.invoice-header  h4{
    margin-top: 0;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 8px;
}
.invoice-header p {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;

}
.invoice-header span{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.wrapper header{
    display: flex;
    justify-content: space-between;
}
.wrapper header img{
    width: 119px;
    height: 35px;
    margin-top: 10px;
}

.client-container {
    margin-top: 28px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;

}
.client-container h4{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
   text-transform: uppercase;
    margin-bottom: 0;
}
.client-container h3{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 6px;
}
.client-container p{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-top: 0;
}
.data-container{
    margin-top: 30px;
}
.data-container tr th{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 8px;
    border: 1px solid rgb(207, 207, 207);

}
table {
    width: 100%;
    border-collapse: collapse;
  }

  table tr td{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 16px;
  }
  .subtotal{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 120px;
    border-bottom: 1px solid #E6E7E8;
  }
  .subtotal h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .tax{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #E6E7E8;
  }
  .tax h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .total{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #E6E7E8;
    margin-bottom: 30px;

  }
  .total h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
